.app-container {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    transition: width 0.3s ease;
  }
  
  .sidebar.collapsed {
    width: 0;
  }
  
  .content-container {
    flex-grow: 1;
    transition: margin-left 0.3
  