/* Navbar styling jika diperlukan */
body {
  padding-top: 50px; /* Sesuaikan dengan tinggi Navbar */
  padding-left: 200px; /* Sesuaikan dengan tinggi Navbar */
  font-family: 'Poppins', sans-serif !important;
}

.navbar {
  background-color: #ffffff !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Tambahan untuk Bootstrap override */
.bg-light {
  background-color: #f1f1f1 !important;
}

.text-dark {
  color: #fff !important;
}

.sidebar {
  width: 200px; 
  height: 100vh; 
  position: fixed; 
  left: 0; 
  top: 0; 
  padding-top: 70px; 
  overflow-y: auto; 
  border-right: 1px solid #ddd;
}

.sidebar .nav.link {
  margin: 0 15px 0 15px;
  font-size: 16px;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
  text-decoration: none;
}

.sidebar .nav.link:hover {
  background-color: rgb(225, 225, 225, 0.2);
}

.sidebar .nav.link:active {
  background-color: rgb(65, 157, 255,);
  color: white !important;
  font-weight: bold;
}


