/* App.css */
.app-container {
  background-color: #121212; /* Warna gelap utama */
  min-height: 100vh;
  display: flex;
  color: #ffffff; /* Warna teks putih untuk kontras */
}

.content-container {
  flex: 1;
  transition: margin-left 0.3s ease-in-out;
  background-color: #1e1e1e; /* Warna latar belakang konten */
  padding: 20px;
}

.container-fluid {
  background-color: #1a1a1a; /* Warna latar belakang untuk dashboard */
  padding: 20px;
  border-radius: 10px;
}

/* Navbar styling jika diperlukan */
.navbar {
  background-color: #222222 !important;
  border-bottom: 1px solid #333;
}

/* Tambahan untuk Bootstrap override */
.bg-light {
  background-color: #333 !important;
}

.text-dark {
  color: #fff !important;
}

.navbar {
  font-family: 'Poppins', sans-serif !important;
}

